:root {
  --header-color: #212121;
  --first-title-color: #212121;
  --second-title-color: #757575;
  --first-btn-color: #ffffff;
  --accent-color: #2196f3;
  --backg-color: #e5e5e5;
  --backg-color2: #F5F4FA;

}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--first-btn-color);
  color: var(--second-title-color);
  letter-spacing: 0.03em;
}
.list,
.link {
  list-style: none;
  text-decoration: none;
}
                                                             /* HEADER */

.header {
  background-color: var(--first-btn-color);
}
.header-logo{
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  text-decoration: none;
}
.header-logo-web{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.link {
  text-decoration: none;
  
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.header-link:hover,
.header-link:focus,
.header-link.active
{
  color: var(--accent-color);
}
.header-tel, .header-adres {
  font-weight: 500;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-adres:hover,
.header-adres:focus{
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
                                                            /* HERO */
.hero {
  background-color: #2f303a;
}
.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height:1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-btn-color);

}
.hero-btn {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height:1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
  border-radius: 4px;
}

                                                            /* ABOUT */
.about{
  background-color: var(--first-btn-color);
}
.about-title-text{
  font-weight: 700;
  font-size: 14px;
  line-height:1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--first-title-color);

}
.about-item-text{
  font-weight: 400;
  font-size: 14px;
  line-height:1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
                                                            /* PRICES */
.prices{
  background-color:var(--first-btn-color );
}
.prices-title{
  font-weight: 700;
  font-size: 36px;
  line-height:1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
                                                            /* COMMAND */
.command{
  background-color: var(--backg-color2);
}

.command-title{
  font-weight: 700;
  font-size: 36px;
  line-height:1.16;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--first-title-color);

}

.command-title-text{
  font-weight: 500;
  font-size: 16px;
  line-height:1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);

}
.command-item-text{
  font-weight: 400;
  font-size: 16px;
  line-height:1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);

}
.command-img{
  background-color: var(--first-btn-color);
}
                                                            /* FOOTER */

.footer{
background-color: #2F303A;
}
.footer-logo{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
  text-decoration: none;
}

.footer-logo-web {
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-link{
  font-weight: 400;
  font-size: 14px;
  line-height:1.71;
  letter-spacing: 0.03em;
  color: var(--first-btn-color)

}
.footer-adres,.footer-tel{
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.footer-link:hover,
.footer-link:focus{
  color: var(--accent-color);
}
.footer-tel:hover,
.footer-tel:focus{
  color: var(--accent-color);
}
.footer-adres:hover,
.footer-adres:focus{
  color: var(--accent-color);
}
                                                            /* PORTFOLIO.HTML */
                                                            /* HERO 1 */
.hero1{
  background-color: var(--first-btn-color);
}
.hero1-btn.btn1{
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height:1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);

}
.hero1-btn{
  background-color: var(--backg-color2);
  font-weight: 500;
  font-size: 16px;
  line-height:1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  border-radius: 4px;
}
.hero1-btn:hover,
.hero1-btn:focus{
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height:1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-btn-color);
}
                                                            /* portfolio */
.portfolio{
  background-color: var(--first-btn-color);
}
.portfolio-title{
font-weight: 700;
font-size: 18px;
line-height:2.00;
letter-spacing: 0.06em;
color: var(--first-title-color);
}

.portfolio-item-text{
  font-weight: 400;
  font-size: 16px;
  line-height:1.88;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.footer-addres{
  font-style: normal;
}

